<div class="card mb-4 box-shadow">
    <img class="card-img-top"
        alt="Thumbnail"
        style="height: 225px; width: 100%; display: block;"
        [src]="todo.getImageUrl()"
    >

    <div class="card-body">
        <h3 class="card-title">{{todo.getName()}}</h3>

        <p class="card-text">{{todo.getDescription()}}</p>

        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" [routerLink]="[todo.getId()]">View</a>
                <a class="btn btn-sm btn-outline-secondary" [routerLink]="[todo.getId(), 'edit']">Edit</a>
            </div>

            <small class="text-muted">{{todo.getLength()}} mins</small>
        </div>
    </div>
</div>
