<div class="container">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top"
        alt="Thumbnail"
        style="height: 225px; width: 100%; display: block;"
        src="https://picsum.photos/id/659/400/400">

      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut dolore earum excepturi
          facilis incidunt itaque maiores omnis placeat quisquam.</p>

        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>

          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
</div>
