<div class="container">
    <div class="shell">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Welcome
                </div>
                <!-- /.card-title -->
            </div>
            <!-- /.card-header -->

            <div class="card-body">
                <p class="card-text">
                    Welcome to the club
                </p>
                <!-- /.card-text -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.shell -->
</div>
<!-- /.container -->
