<form (submit)="submitForm($event)">
    <div class="form-group">
        <label for="todo-name">Name</label>
        <input
            type="text"
            name="name"
            class="form-control"
            id="todo-name"
            placeholder="Enter name"
            [(ngModel)]="nameData"
        >
    </div>
    <div class="form-group">
        <label for="todo-description">Description</label>
        <input
            type="text"
            name="description"
            class="form-control"
            id="todo-description"
            placeholder="Enter Description"
            [(ngModel)]="descriptionData"
        >
    </div>
    <div class="form-group">
        <label for="todo-image">Image Url</label>
        <input
            type="text"
            name="image-url"
            class="form-control"
            id="todo-image"
            placeholder="Enter Image Url"
            [(ngModel)]="imageUrlData"
        >
    </div>
    <div class="form-group">
        <label for="todo-time-to-read">Time to read</label>
        <input
            type="number"
            name="time_to_read"
            class="form-control"
            id="todo-time-to-read"
            placeholder="Enter time to read"
            [(ngModel)]="timeToReadData"
        >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
