<div class="container">
    <div class="shell">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Edit
                </div>
                <!-- /.card-title -->
            </div>
            <!-- /.card-header -->

            <div class="card-body">
                <app-todos-todo-form
                    [todo]="todo"
                    (onSubmit)="setDataToTodo($event)"
                    (onCancel)="router.navigate(['/todos'])"
                ></app-todos-todo-form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.shell -->
</div>
<!-- /.container -->

